{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>

    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="cart-wrapper">

    <h2>Your Cart 🛒</h2>

    <a href="/" class="top-link">⬅ Back to Home</a>

    <div class="container">

        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}

        {% if user.is_authenticated %}

            {% if user.userprofile.role == 'buyer' %}

                {% if items %}

                    {% for item in items %}
                    <div class="cart-item">

                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" width="100">
                        {% endif %}

                        <div class="details">
                            <h3>{{ item.product.name }}</h3>
                            <p>Price: ₹{{ item.product.price }}</p>
                            <p>Quantity: {{ item.quantity }}</p>
                            <p><b>Total: ₹{{ item.total_price }}</b></p>
                        </div>

                        <a href="{% url 'remove_from_cart' item.id %}">
                            <button class="remove-btn">Remove</button>
                        </a>

                    </div>
                    {% endfor %}

                    <div class="total-box">
                        <h3>Grand Total: ₹{{ total }}</h3>

                        <a href="{% url 'checkout' %}">
                            <button class="checkout-btn">Proceed to Checkout </button>
                        </a>
                    </div>

                {% else %}
                    <p class="empty">Your cart is empty 😔</p>
                {% endif %}

            {% else %}
                <p class="empty">Only buyers can access the cart ❌</p>
            {% endif %}

        {% else %}
            <p class="empty">
                Please <a href="{% url 'login' %}">login</a> to view your cart.
            </p>
        {% endif %}

    </div>

</div>

</body>
</html>