{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
</head>
<body>

<div class="profile-wrapper">
    <h2>Update Profile</h2>

    <a href="{% url 'home' %}" class="back-btn">← Back to Home</a>
    
    <div class="profile-container">

        <div class="card">
            <h3>User Info</h3>
            <form method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                <button type="submit" name="update_profile">Update Profile</button>
            </form>
        </div>

        <div class="card">
            <h3>Change Password</h3>
            <form method="POST">
                {% csrf_token %}
                {{ password_form.as_p }}
                <button type="submit" name="change_password">Change Password</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>