{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Electrovolt</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

<div class="overlay">

    <!-- NAVBAR -->
    <div class="navbar">

        <div class="nav-left">

            <a href="/" class="logo-container">
                <!-- <img src="{% static 'images/logo.png' %}" alt="Electrovolt Logo"> -->
                <span>Electrovolt</span>
            </a>

            <a href="/">Home</a>

            <form method="GET" class="search-box">

                <input type="text" name="q" placeholder="Search products..."
                       value="{{ query|default:'' }}">

                <select name="category">
                    <option value="">All Categories</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}"
                            {% if cat.id|stringformat:"s" == selected_category %}selected{% endif %}>
                            {{ cat.name }}
                        </option>
                    {% endfor %}
                </select>

                <input type="number" name="min_price" placeholder="Min ₹" value="{{ min_price }}">
                <input type="number" name="max_price" placeholder="Max ₹" value="{{ max_price }}">

                <select name="sort">
                    <option value="">Sort</option>
                    <option value="low" {% if selected_sort == 'low' %}selected{% endif %}>
                        Price Low → High
                    </option>
                    <option value="high" {% if selected_sort == 'high' %}selected{% endif %}>
                        Price High → Low
                    </option>
                </select>

                <button type="submit">Search</button>
            </form>
        </div>

        <div class="nav-right">
            {% if user.is_authenticated %}

                {% if user.userprofile.role == 'buyer' %}
                    <a href="{% url 'cart' %}">Cart </a>
                {% endif %}

                {% if user.userprofile.role == 'buyer' %}
                    <a href="{% url 'order_history' %}">My Orders</a>
                {% endif %}

                
                <a href="{% url 'update_profile' %}">Update Profile</a>
                

                {% if user.userprofile.role == 'seller' %}
                    <a href="{% url 'add_product' %}">Add Product </a>
                {% endif %}

                <span>Welcome, {{ user.username }}</span>
                <a href="{% url 'logout' %}">Logout</a>

            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>

    </div>

    <!-- <h1>All Products</h1> -->
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
        
    {% if user.is_authenticated and user.userprofile.role == 'seller' %}
    <div class="top-btn">
        <a href="{% url 'add_product' %}">
            <button class="btn">Add New Product</button>
        </a>
    </div>
    {% endif %}

    <div class="products">

        {% for product in products %}
        <div class="product-card">

            <h3>{{ product.name }}</h3>

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/150" alt="No Image">
            {% endif %}

            <p class="price">₹{{ product.price }}</p>

            {% if user.is_authenticated and user.userprofile.role == 'buyer' %}
                <a href="{% url 'add_to_cart' product.id %}">
                    <button class="btn">Add to Cart</button>
                </a>
            {% endif %}

            {% if user.is_authenticated and user.userprofile.role == 'seller' and product.user == user %}
                <a href="{% url 'edit_product' product.id %}">
                    <button class="btn">Edit</button>
                </a>

                <a href="{% url 'delete_product' product.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            {% endif %}

        </div>
        {% empty %}
            <p class="no-results">No products found 😔</p>
        {% endfor %}

    </div>

</div>

</body>
</html>